.App {
  text-align: center;
}

#openphaseweight {
  width: 40px;
}

input[type="text"] {
  border: none;
  width: 200px;
  padding: 5px;
  margin: 5px;
}

.main_container {
  display: flex;
  height: 98vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container_info {
  flex-direction: column;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 85vh;
}

.left-side {
  width: 300px;
  height: 100%;
}

.right-side {
  width: 100%;
  background-color: #0095ffbf;
  color: #1d1b1b;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.container_info .textarea_source {
  height: 120px;
  width: 500px;
  resize: both;
}

.container_info .textarea_target {
  height: 100px;
  width: 500px;
  resize: none;
  margin-left: 5px;
}

.container_info .container_json {
  display: flex;
  align-items: center;
}

.first_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-size: 20px;
  border-bottom: 1px solid gray;
  width: 97%;
  padding-bottom: 7px;
}

.container_button {
  /* text-align: center;
  margin-top: 10px; */
}

.container_button button {
  border: none;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.second-row {
  width: 100%;
  justify-content: space-between;
}

.nav-button {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
}

.dlg-table {
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
